<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Consulta de Contatos</h5>
                    <hr />

                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>Nome do contato</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Cadastrado em</th>
                                <th>Operações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-sm btn-primary">
                                        Editar
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-sm btn-danger">
                                        Excluir
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    Quantidade de contatos: 0
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>