<div class="row mt-4">
    <div class="col-md-4 offset-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="card-title">Criar Conta de Usuário</h5>
                    <p class="card-subtitle">Preeencha os campos para criar sua conta.</p>
                </div>

                <hr />

                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" class="mt-1">

                    <div class="mb-2">
                        <label>Nome do usuário:</label>
                        <input type="text" class="form-control" placeholder="Digite seu nome aqui"
                            formControlName="nome" />

                        <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                            <span *ngIf="form.nome.errors.required">
                                Por favor, informe o seu nome.
                            </span>
                            <span *ngIf="form.nome.errors.minlength">
                                Por favor, informe no mínimo 8 caracteres.
                            </span>
                        </div>

                    </div>

                    <div class="mb-2">
                        <label>Email de acesso:</label>
                        <input type="text" class="form-control" placeholder="Digite seu email aqui"
                            formControlName="email" />

                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                            <span *ngIf="form.email.errors.required">
                                Por favor, informe o seu email.
                            </span>
                            <span *ngIf="form.email.errors.email">
                                Por favor, informe um endereço de email válido.
                            </span>
                        </div>

                    </div>

                    <div class="mb-2">
                        <label>Senha de acesso:</label>
                        <input type="password" class="form-control" placeholder="Digite sua senha aqui"
                            formControlName="senha" />

                        <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
                            <span *ngIf="form.senha.errors.required">
                                Por favor, informe a sua senha.
                            </span>
                            <span *ngIf="form.senha.errors.minlength">
                                Por favor, informe no mínimo 8 caracteres.
                            </span>
                            <span *ngIf="form.senha.errors.maxlength">
                                Por favor, informe no máximo 20 caracteres.
                            </span>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label>Confirme sua senha:</label>
                        <input type="password" class="form-control" placeholder="Digite sua senha aqui"
                            formControlName="senhaConfirmacao" />

                        <div class="text-danger" *ngIf="form.senhaConfirmacao.touched && form.senhaConfirmacao.invalid">
                            <span *ngIf="form.senhaConfirmacao.errors.required">
                                Por favor, confirme a sua senha.
                            </span>
                            <span *ngIf="form.senhaConfirmacao.errors.matchpassword">
                                Senhas não conferem, por favor verifique.
                            </span>
                        </div>
                    </div>

                    <div class="mb-2 d-grid">
                        <input type="submit" class="btn btn-primary btn-sm" [disabled]="!formRegister.valid"
                            value="Realizar Cadastro" />
                    </div>

                    <div class="mb-2 d-grid">
                        <a [routerLink]="['/acessar-conta']" class="btn btn-light btn-sm">
                            Já possui conta? <strong>Acesse aqui!</strong>
                        </a>
                    </div>

                </form>

                <div class="mt-3 text-success text-center" *ngIf="mensagem_sucesso">
                    <strong>{{mensagem_sucesso}}</strong>
                </div>

                <div class="mt-3 text-danger text-center" *ngIf="mensagem_erro">
                    <strong>{{mensagem_erro}}</strong>
                </div>

            </div>
        </div>
    </div>
</div>