<div class="row mt-4">
    <div class="col-md-4 offset-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="card-title">Recuperação de Senha</h5>
                    <p class="card-subtitle">Informe os dados para recuperar a senha.</p>
                </div>
                
                <hr/>

                <form [formGroup]="formPassword" (ngSubmit)="onSubmit()" class="mt-1">
                    
                    <div class="mb-2">
                        <label>Email de acesso:</label>
                        <input type="text" class="form-control" 
                            formControlName="email"
                            placeholder="Digite seu email aqui"/>

                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                            <span *ngIf="form.email.errors.required">
                                Por favor, informe o seu email.
                            </span>
                            <span *ngIf="form.email.errors.email">
                                Por favor, informe um endereço de email válido.
                            </span>
                        </div>
                        
                    </div>

                    <div class="mb-2 d-grid">
                        <input type="submit" class="btn btn-primary btn-sm" 
                            [disabled]="!formPassword.valid"
                            value="Recuperar Senha"/>
                    </div>

                    <div class="mb-2 d-grid">
                        <a [routerLink]="['/acessar-conta']" class="btn btn-light btn-sm">
                            Já possui conta? <strong>Acesse aqui!</strong>
                        </a>
                    </div>

                </form>

                <div class="mt-3 text-center">
                    <strong>{{mensagem}}</strong>
                </div>

            </div>
        </div>
    </div>
</div>
